{% extends "base.html" %}

{% block content %}
<div class="container">
			<div class="text-center">
					
							<h2>Be adventurous with your dining experiences</h2>
							<hr>

							<h4>Where do you want to eat?</h4>
							<br>
							<form method="POST" action="results">
								<select name="city" class="selectpicker" data-live-search="true">
									<option>I don't care</option>
								{% for c in cities %}
									<option id="{{ c }}">
										{{ c }}
									</option>
								{% endfor %}
								</select>
						
							<br>
							<br>



							<h4>What kind of food do you want?</h4>
							<br>
							<select name="categories" data-size="auto" class="selectpicker" data-live-search="true" style="width:100px;" >
								<option>Doesn't matter</option>
							{% for c in categories %}
								<option>
									{{ c }}
								</option>
							{% endfor %}
							</select>
							<br>
							<br>
								<button class="btn btn-primary btn-xl page-scroll" type="submit" name="submit">Feed Me!</a>
								{% csrf_token %}
								</form>
					</div>
			</div>
		{% endblock %}
