{% extends "base.html" %}

{% block content %}
<div class="container">
			<div class="text-center">
					
                <h4>Login to Feed Me</h4>

        <form id="login_form" method="post" action="/login">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>
            </div>
</div>
{% endblock %}